<div class="about">	
	<h1 class="page-title"><em><strong>About Me</strong></em></h1>
	<p>
		<ul id="stats">
			<li>My name is Josh</li>
			<li>They call me: "The Beard"</li>
			<li>I am 27 years old; immortal as of yet.</li>
			<li>Location: Michigan</li>
			<li>I stream full-time due to a medical condition.</li>
			<li>I am a Counselor, GFX designer, techie, programmer, geek and world traveler.</li>
			<li>I enjoy building this remarkable community and welcome you to be part of it!</li>
		</ul>
	</p>
</div>