<div class="medical">	
	<h4 id="page-title">Glossopharyngeal Neuralgia</h4>
	<h2 id="pain">Well, I was diagnosed with Glossopharyngeal neuralgia (GN) 2 years ago, a few months after graduating college.</h2>
	<h2 id="pain">Living with GN has changed my life. This is what I know:</h2>

	<p>
		<ul>Glossopharyngeal neuralgia is a rare pain syndrome that affects the glossopharyngeal nerve.</ul>
		<ul>(the ninth cranial nerve that lies deep within the neck)</ul>
		<ul>It causes sharp, stabbing pulses of pain in the back of the throat, tongue, tonsils, and middle ear.</ul>
		<ul>The cause of the condition is unknown.</ul>
		<ul>It is, thus far, incurable. (Pain management is the goal of treatment.)</ul>
		<ul>I take a regular regiment of anti-seizure medications to help control the nerves.</ul>
		<ul>Doctors described it to me as “winning a lottery you never wanted to enter.”</ul>

		<h2 id="pain">However, I want to emphasize the point that this condition has served as a reminder to be thankful. I am grateful for so much and have been blessed with the opportunity to meet countless amazing individuals who are strong in their own way. We each have a story to tell.</h2>

		<h2 id="pain">Hopefully, this stream brings hope and empowerment. Be amazing friends.
		If you have any questions feel free to ask.</h2>
	</p>
</div>