<div class="footer">
	<header class="navbar navbar-fixed-bottom navbar-inverse">
		<div class="row">
			<div class="col-md-5">
				<%= link_to 'Contact', '#' %>
			</div>
			<div class="col-md-3">
				<p>&copy 2016 The Bearded Clan</p>
			</div>
			<div class="col-md-4">
				<%= link_to image_tag("twitter.png"), '#' %>
				<%= link_to image_tag("youTube.png"), '#' %>
				<%= link_to image_tag("twitch.png"), 'http://www.twitch.tv/igenan', target: "_blank" %>
			</div>
		</div>
	</header>
</div>